<style>
	form.example{
		text-align: center;
	}
	form.example input[type=text] {
		padding: 5px;
		font-size: 17px;
		border: 2px solid grey;
		border-radius: 10px;
		float: center;
		width: 70%;
		background: white;
		margin-bottom: 30px;
	}
	
	form.example button {
		width: 20%;
		padding: 10px;
		background: #2196F3;
		color: white;
		font-size: 17px;
		border: 1px solid grey;
		border-left: none;
		cursor: pointer;
	}
	
	form.example button:hover {
		background: #0b7dda;
	}
	
	form.example::after {
		content: "";
		clear: both;
		display: table;
	}

	@media only screen and (max-width: 400px){
		form.example input[type=text]{
			width:98%;
		
		}
	} 
	</style>


<div class="search">
	<form method="get" class="example" action="https://www.google.com/search"
		itemprop="potentialAction" itemscope="" itemtype="http://schema.org/SearchAction">
		<meta itemprop="target" content="https://www.google.com/search?q={q}"/>
		<input name="sitesearch" value="soloviov.fun" type="hidden"/>
		<input itemprop="query-input" type="text" id="search-query" class="field field-text" required="required"
			onfocus="$('.google').css('visibility', 'visible');" name="q" placeholder="Search..." autocomplete="off"/>
	</form>
</div>