<!DOCTYPE html>

<html>
  <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
{% include head.html %}
{% seo %}

<body>

  {% include navbar.html %}

  {{ content }}

  {% include footer.html %}

  {% include scripts.html %}

  {% include google-analytics.html %}
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5JZ45DQ"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
</body>

</html>
