---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead"
	style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
	{% else %}
	<header class="masthead">
		{% endif %}
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-10 mx-auto">
					<div class="page-heading">
						<h1>{{ site.title }}</h1>
						{% if site.description %}
						<span class="subheading">{{ site.description }}</span>
						{% endif %}
						<!-- {% include search.html %} -->
					</div>
				</div>
			</div>
		</div>
	</header>

	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				{% include hot.html %}
			
				{{ content }}

				<!-- Home Post List -->
				{% for post in site.posts limit : 10 %}
				<article class="post-preview">
					<a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
						<h2 class="post-title all">{{ post.title }}</h2>
						<!-- Subtitle -->
						<!-- {% if post.subtitle %}
            <h3 class="post-subtitle">{{ post.subtitle }}</h3>
            {% else %}
            <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
            {% endif %} -->
						<!-- End Subtitle -->
					</a>
					<ul class="post-meta">
						<!-- Posted by
							{% if post.author %}
							{{ post.author }}
							{% else %}
							{{ site.author }}
							{% endif %}
							
							on -->
						<li>
							<time itemprop="Data"> {{ post.date | date: '%-d %B %Y' }} </time>
						</li>
						<li itemprop="timeCount">
							{% include read_time.html content=post.content %}
						</li>
						<li itemprop="wordCount">
							<count>{{ post.content | number_of_words }} words</count>
						</li>
						<li>
							<count>
								<i class="fa fa-comment"></i>
								<a class="post-meta" href="{{ post.url | relative_url }}#disqus_thread"></a>
							</count>
						</li>
					</ul>
					<p class="post-excerp"> {{ post.content | markdownify | strip_html | truncatewords: 40 }}</p>
					<a class="read-more" href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">Read more...</a>
				</article>

				

				{% endfor %}

				<!-- Pager -->
				<div class="clearfix">
					<a class="btn btn-primary float-right" href="{{"posts" | relative_url }}">View All Posts &rarr;</a>
				</div>

			</div>
		</div>
	</div>