---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{ page.title }}</h1>
            <!-- {% if page.subtitle %}
            <h2 class="subheading">{{ page.subtitle }}</h2>
            {% endif %} -->
            <!-- <span class="meta">Posted by
              <a href="#">{% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}</a> -->
							
					<ul class="post-meta">
						<!-- Posted by
							{% if post.author %}
							{{ post.author }}
							{% else %}
							{{ site.author }}
							{% endif %}
							on -->
						<li>
							<time itemprop="Data"> {{ page.date | date: '%-d %B %Y' }} </time>
						</li>
						<li itemprop="timeCount">
							{% include read_time.html content=page.content %}
						</li>
						<li itemprop="wordCount">
							<count>{{ page.content | number_of_words }} words</count>
						</li>
						<li>
						<count>
							<i class="fa fa-comment"></i>
							<a style="color: whitesmoke;" class="post-meta" href="{{ page.url | relative_url }}#disqus_thread"></a>
						</count>
					</li>
				</ul>
			Tags: 
				<!-- Tags	 -->
					{% if page.tags %}
					<ul class="post-meta-tags" style="margin-left: 0;padding-left: 0;">
						{% for tag in page.tags %}
						{% assign found_tags = site.topics | where: "slug", tag %}
						{% for tag in found_tags limit:1 %}
						<li style="list-style-type: none; display:inline-block ;"><a class="tag" href="{{ tag.url }}" title="{{ tag.title }}">{{tag.icon}} {{ tag.slug }}</a></li>
						{% endfor %}
						{% endfor %}
					</ul>
					{% endif %}
            </span>
          </div>
        </div>
      </div>
    </div>
  </header>
	

  <div class="container">	
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
			
        {{ content }}

        <hr>

        <div class="clearfix">

          {% if page.previous.url %}
          <a class="btn btn-primary float-left" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.previous.title }}">&larr; Previous<span class="d-none d-md-inline">
              Post</span></a>
          {% endif %}
          {% if page.next.url %}
          <a class="btn btn-primary float-right" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.next.title }}">Next<span class="d-none d-md-inline">
              Post</span> &rarr;</a>
          {% endif %}

        </div>
				{% seo %}
				{% include disqus_comments.html %}
      </div>
    </div>
  </div>
